.plan{
    padding: 30px;
    border: 1px solid grey;
}
.category a{
    text-align: center;
color: green;
padding: 10px 20px;
border: 1px solid grey;
width: 100%;
font-size: 16px;
font-weight: 700;
background-color: rgb(251, 253, 255);
}
.plan .basic .prizebutton{
    width: 100%;
    padding: 10px;
    background-color: #1dbf73;
}
.plan .basic .prizebutton a{
    margin: auto;
    text-align: center;

}


.standard{
    display: none;
}
.premium{
    display: none;
}


